@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --GREEN: #44ffa1;
  --PURPLE: #24053e;
  --LIGHT_PURPLE: #584d62;
  --GRAY: #fcf8ff;
  --WHITE: #ffffff;
}

body {
  margin: 0;
  font-family: "Fraunces", serif;
  background-color: var(--WHITE);
  position: relative;
}

.logo {
  width: 96px;
  height: 25px;
}
.header_btn {
  font-size: 1.13rem;
  font-family: "Manrope", serif;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--GREEN);
  color: var(--WHITE);
  cursor: pointer;
}
.header_btn:hover {
  color: var(--GREEN);
}
.header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
}
.hero {
  height: 85vh;
  background-color: var(--PURPLE);
  background-image: url(/public/bg-pattern-1.svg), url(/public/bg-pattern-2.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: -9vw 13vh, 92vw 40vh;
  /* position: relative; */
}
.curve {
  width: 100%;
  height: 100px;
  fill: var(--PURPLE);
  /* border: 1px solid white; */
}
h1 {
  font-family: "Fraunces", serif;
  font-size: 4rem;
  color: var(--WHITE);
  text-align: center;
}
span {
  text-decoration: underline;
}
.hero_content {
  width: 30%;
  margin: auto;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.hero_btn {
  background-color: var(--GREEN);
  border: 0;
  padding: 0.75rem 2rem;
  margin: auto;
  cursor: pointer;
}
.hero_btn:hover {
  background-color: var(--PURPLE);
  color: var(--GREEN);
  outline: 1px solid var(--GREEN);
}
.phone-container {
  position: absolute;
  width: 40%;
  top: 31rem;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}
.phone {
  width: 100%;
}
.main {
  background-color: var(--GRAY);
  /* height: 610px; */
  padding-top: 12rem;
}
.features_container {
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center;
}
.feature_action {
  color: var(--PURPLE);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 120%;
  margin-top: 4rem;
}
.feature_about {
  color: var(--PURPLE);
  font-family: "Manrope", serif;
  font-size: 1.13rem;
  line-height: 180%;
  margin-top: 1.75rem;
}
.number {
  width: 3.5rem;
  aspect-ratio: 1;
  border: 1px solid var(--PURPLE);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.features_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second_curve {
  width: 100%;
  height: 100px;
}
.avartar {
  width: 42%;
  height: 453px;
}
.avartar_wrapper {
  height: 579px;
}
.avartar_content {
  width: 77%;
  margin: auto;
  position: relative;
}
.action_button {
  font-family: "Manrope", serif;
  font-size: 1.13rem;
  color: var(--PURPLE);
  font-weight: bold;
  line-height: 150%;
  background-color: var(--GREEN);
  padding: 0.75rem 2rem;
  border: 0;
}
.action_button:hover {
  background-color: var(--PURPLE);
  color: var(--GREEN);
  outline: 1px solid var(--GREEN);
}
.action_card_wrapper {
  background-color: var(--PURPLE);
  width: 65%;
  padding: 4rem;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url(/public/bg-pattern-3.svg);
  background-repeat: no-repeat;
  background-position: 25vw 35vh;
}
.action_card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
h2 {
  color: var(--WHITE);
  font-family: "Fraunces", serif;
  font-size: 3rem;
  line-height: 120%;
}
.about {
  font-family: "Manrope", serif;
  font-size: 1.13rem;
  line-height: 180%;
  color: var(--WHITE);
}
.facebook {
  margin-inline-end: 12px;
}
.twitter {
  margin-inline-end: 12px;
}
.socials {
  text-align: center;
}
.footer_content {
  width: 7%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.footer {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.footer_logo {
  text-align: center;
}

@media (max-width: 1440px) {
  .hero_content {
    width: 33%;
  }
  .hero {
    height: 75vh;
  }
}

@media (max-width: 1390px) {
  .hero_content {
    width: 40%;
  }
  .hero {
    height: 75vh;
  }
}

@media (max-width: 1240px) {
  .hero_content {
    width: 40%;
  }
  .hero {
    height: 75vh;
  }
}

@media (max-width: 428px) {
  .features_container {
    flex-direction: column;
    width: 90%;
  }
  .header {
    padding-top: 2rem;
    width: 95%;
  }
  .hero {
    background-image: none;
  }
  .hero_content {
    width: 95%;
  }
  h1 {
    font-size: 2.5rem;
    width: 80%;
    margin: auto;
  }
  .hero {
    height: 60vh;
  }
  .curve {
    height: 50px;
  }
  .second_curve {
    height: 50px;
  }
  .phone-container {
    width: 80%;
    top: 26rem;
  }
  .avartar_content {
    width: 100%;
    padding-top: 7rem;
    height: 110vh;
  }
  .main {
    padding-top: 4rem;
  }
  .avartar_wrapper {
    height: auto;
    display: block;
  }
  .avartar {
    width: 100%;
    height: 100%;
  }
  .action_card_wrapper {
    width: 100%;
    padding: 2rem;
    background-image: none;
    top: 26rem;
    z-index: 9999;
  }
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  .about {
    text-align: center;
  }
  .action_btn {
    margin: auto;
  }
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .footer_content {
    width: 40%;
  }
  .phone-container {
    top: 20rem;
  }
}
