@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --GREEN: #44ffa1;
  --PURPLE: #24053e;
  --LIGHT_PURPLE: #584d62;
  --GRAY: #fcf8ff;
  --WHITE: #ffffff;
}

body {
  margin: 0;
  font-family: "Fraunces", serif;
  background-color: var(--WHITE);
  position: relative;
}

.logo {
  width: 96px;
  height: 25px;
}
.header_btn {
  font-size: 1.13rem;
  font-family: "Manrope", serif;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--GREEN);
  color: var(--WHITE);
}
.header {
  width: 90%;
  margin: auto;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
}
.hero {
  height: 55vh;
  background-color: var(--PURPLE);
}
.curve {
  width: 100%;
  position: absolute;
  top: 45vh;
}
h1 {
  font-family: "Fraunces", serif;
  font-size: 5rem;
  color: var(--WHITE);
  text-align: center;
}
span {
  text-decoration: underline;
}
.hero_content {
  width: 44%;
  border: 1px solid red;
  margin: auto;
}
